$mobile-width-small: 320px;
$mobile-width-large: 767px;
$tablet-vertical-width-small: 768px;
$tablet-vertical-width-large: 1023px;
$tablet-horizontal-width-small: 1024px;
$tablet-horizontal-width-large: 1199px;
$desktop-width-small: 1200px;
$desktop-width-large: 1399px;
$desktop-width-ExtraLarge: 1400px;
$menu-subLevel-time-duration: 500ms;
$opener-animation-time-duration:500ms;
$opener-animation-type: cubic-bezier(.01,.63,.4,.98);
$colorWhite: #fff;
$colorRed: #e40101;
$colorGreen: #0fc37d;
$colorLightGrey: #adadad;
$colorDarkGrey: #353533;
