/* line 3, ../SCSS/Common.scss */
body {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 8, ../SCSS/Common.scss */
body #fullSiteWrapper {
  left: 0;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  margin: 10% auto;
  -moz-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}
/* line 19, ../SCSS/Common.scss */
body #fullSiteWrapper .contentWrapper {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
/* line 24, ../SCSS/Common.scss */
body #fullSiteWrapper .contentWrapper ul.list-group li:hover {
  background-color: yellow;
  cursor: pointer;
}
/* line 29, ../SCSS/Common.scss */
body #fullSiteWrapper .contentWrapper ul.list-group li.hideLi {
  display: none;
}
/* line 32, ../SCSS/Common.scss */
body #fullSiteWrapper .contentWrapper ul.list-group li.showLi {
  display: block;
}

@media all and (max-width: 767px) {
  /* line 43, ../SCSS/Common.scss */
  body #fullSiteWrapper .contentWrapper {
    padding-top: 115px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  /* line 53, ../SCSS/Common.scss */
  body #fullSiteWrapper .contentWrapper {
    padding-top: 150px;
  }
}
