/* line 3, ../SCSS/Reset.scss */
* {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

/* line 12, ../SCSS/Reset.scss */
html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
}

/* line 27, ../SCSS/Reset.scss */
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
}

/* line 40, ../SCSS/Reset.scss */
body {
  line-height: normal;
}

/* line 44, ../SCSS/Reset.scss */
ol, ul {
  list-style: none;
}

/* line 48, ../SCSS/Reset.scss */
blockquote, q {
  quotes: none;
}

/* line 53, ../SCSS/Reset.scss */
blockquote:before, blockquote:after {
  content: ' ';
  content: none;
}

/* line 60, ../SCSS/Reset.scss */
q:before, q:after {
  content: ' ';
  content: none;
}

/* line 66, ../SCSS/Reset.scss */
:focus {
  outline: 0;
}

/* line 70, ../SCSS/Reset.scss */
ins {
  text-decoration: none;
}

/* line 74, ../SCSS/Reset.scss */
del {
  text-decoration: line-through;
}

/* line 78, ../SCSS/Reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 83, ../SCSS/Reset.scss */
img, main, header, nav, section, footer, aside {
  display: block;
}

/* line 87, ../SCSS/Reset.scss */
.separator {
  font-size: 0;
  height: 0;
  clear: both;
}

/* line 93, ../SCSS/Reset.scss */
input, textarea, select {
  -moz-appearance: none;
  border-radius: 0;
}

/* line 98, ../SCSS/Reset.scss */
* {
  -webkit-tap-highlight-color: transparent;
}

/* line 102, ../SCSS/Reset.scss */
#mediaQuerySign {
  height: 0px !important;
}

/* TEXT ALIGNMENT */
/* line 108, ../SCSS/Reset.scss */
.text-c {
  text-align: center;
}

/* line 112, ../SCSS/Reset.scss */
.text-r {
  text-align: right;
}

/* END */
/* MARGIN ALIGNMENT */
/* line 120, ../SCSS/Reset.scss */
.align-c {
  margin: 0 auto 0 auto;
}

/* line 124, ../SCSS/Reset.scss */
.align-r {
  margin: 0 0 0 auto;
}

/* line 128, ../SCSS/Reset.scss */
.align-l {
  margin: 0 auto 0 0;
}

/* END */
/* POSITION ALIGNMENT */
/* line 136, ../SCSS/Reset.scss */
.pos-l {
  left: 0;
}

/* line 140, ../SCSS/Reset.scss */
.pos-lq {
  left: 25%;
}

/* line 144, ../SCSS/Reset.scss */
.pos-c {
  left: 50%;
}

/* line 148, ../SCSS/Reset.scss */
.pos-rq {
  right: 25%;
}

/* line 152, ../SCSS/Reset.scss */
.pos-r {
  right: 0;
}

/* END */
/* TRANSFORM ALIGNMENT */
/* line 160, ../SCSS/Reset.scss */
.trans-x {
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

/* line 169, ../SCSS/Reset.scss */
.trans-y {
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

/* line 178, ../SCSS/Reset.scss */
.trans-xy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* line 188, ../SCSS/Reset.scss */
.trans-xy-rotate {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
}

/* END */
/* BEFORE */
/* line 202, ../SCSS/Reset.scss */
.before {
  font-size: 0;
}
/* line 205, ../SCSS/Reset.scss */
.before:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 212, ../SCSS/Reset.scss */
.before .middle {
  display: inline-block;
  vertical-align: middle;
}

/* END */
/* AFTER FOR SEPARATOR */
/* line 222, ../SCSS/Reset.scss */
.after::after {
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
}

/* XS 1 */
@media all and (max-width: 479px) {
  /* line 232, ../SCSS/Reset.scss */
  #mediaQuerySign {
    width: 400px;
  }

  /* line 236, ../SCSS/Reset.scss */
  .xs1-hide {
    display: none;
  }

  /* TRANSFORM ALIGNMENT */
  /* line 240, ../SCSS/Reset.scss */
  .xs1-trans-x {
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  /* line 249, ../SCSS/Reset.scss */
  .xs1-trans-y {
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  /* line 258, ../SCSS/Reset.scss */
  .xs1-trans-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* END */
  /* line 268, ../SCSS/Reset.scss */
  .xs1-trans-x-none {
    left: auto;
    left: initial;
    transform: none;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }

  /* line 278, ../SCSS/Reset.scss */
  .xs1-trans-y-none {
    top: auto;
    top: initial;
    transform: none;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }

  /* line 288, ../SCSS/Reset.scss */
  .xs1-trans-xy-none {
    top: auto;
    top: initial;
    left: auto;
    left: initial;
    transform: none;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }

  /* BEFORE */
  /* line 300, ../SCSS/Reset.scss */
  .xs1-before-none:before {
    display: none;
  }
}
/* XS 2 */
@media all and (min-width: 480px) and (max-width: 767px) {
  /* line 307, ../SCSS/Reset.scss */
  #mediaQuerySign {
    width: 700px;
  }

  /* line 311, ../SCSS/Reset.scss */
  .xs2-hide {
    display: none;
  }

  /* TRANSFORM ALIGNMENT */
  /* line 315, ../SCSS/Reset.scss */
  .xs2-trans-x {
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  /* line 324, ../SCSS/Reset.scss */
  .xs2-trans-y {
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  /* line 333, ../SCSS/Reset.scss */
  .xs2-trans-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* END */
  /* line 343, ../SCSS/Reset.scss */
  .xs2-trans-x-none {
    left: auto;
    left: initial;
    transform: none;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }

  /* line 353, ../SCSS/Reset.scss */
  .xs2-trans-y-none {
    top: auto;
    top: initial;
    transform: none;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }

  /* line 363, ../SCSS/Reset.scss */
  .xs2-trans-xy-none {
    top: auto;
    top: initial;
    left: auto;
    left: initial;
    transform: none;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }

  /* BEFORE */
  /* line 375, ../SCSS/Reset.scss */
  .xs2-before-none:before {
    display: none;
  }
}
/* SM 1 */
@media all and (min-width: 768px) and (max-width: 1023px) {
  /* line 382, ../SCSS/Reset.scss */
  #mediaQuerySign {
    width: 768px;
  }

  /* line 386, ../SCSS/Reset.scss */
  .sm1-hide {
    display: none;
  }

  /* TRANSFORM ALIGNMENT */
  /* line 390, ../SCSS/Reset.scss */
  .sm1-trans-x {
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  /* line 399, ../SCSS/Reset.scss */
  .sm1-trans-y {
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  /* line 408, ../SCSS/Reset.scss */
  .sm1-trans-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* END */
  /* BEFORE */
  /* line 419, ../SCSS/Reset.scss */
  .sm1-before-none:before {
    display: none;
  }
}
/* SM 2 */
@media all and (min-width: 1024px) and (max-width: 1199px) {
  /* line 426, ../SCSS/Reset.scss */
  #mediaQuerySign {
    width: 1024px;
  }

  /* line 430, ../SCSS/Reset.scss */
  .sm2-hide {
    display: none;
  }

  /* TRANSFORM ALIGNMENT */
  /* line 434, ../SCSS/Reset.scss */
  .sm2-trans-x {
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  /* line 443, ../SCSS/Reset.scss */
  .sm2-trans-y {
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  /* line 452, ../SCSS/Reset.scss */
  .sm2-trans-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* END */
  /* BEFORE */
  /* line 463, ../SCSS/Reset.scss */
  .sm2-before-none:before {
    display: none;
  }
}
/* MD */
@media all and (min-width: 1200px) and (max-width: 1399px) {
  /* line 470, ../SCSS/Reset.scss */
  #mediaQuerySign {
    width: 1280px;
  }

  /* line 474, ../SCSS/Reset.scss */
  .md-hide {
    display: none;
  }

  /* TRANSFORM ALIGNMENT */
  /* line 478, ../SCSS/Reset.scss */
  .md-trans-x {
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  /* line 487, ../SCSS/Reset.scss */
  .md-trans-y {
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  /* line 496, ../SCSS/Reset.scss */
  .md-trans-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* END */
}
/* LG */
@media all and (min-width: 1400px) {
  /* line 510, ../SCSS/Reset.scss */
  #mediaQuerySign {
    width: 1440px;
  }

  /* line 514, ../SCSS/Reset.scss */
  .lg-hide {
    display: none;
  }

  /* TRANSFORM ALIGNMENT */
  /* line 518, ../SCSS/Reset.scss */
  .lg-trans-x {
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  /* line 527, ../SCSS/Reset.scss */
  .lg-trans-y {
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  /* line 536, ../SCSS/Reset.scss */
  .lg-trans-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  /* END */
}
